.add-user-btn {
    position: absolute;
    bottom: 5rem;
    right: 10rem;
}

mat-card {
    padding-left: 0;
    padding-right: 0;
}

table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;

    tr {
        border-bottom: 1px solid rgba(0, 0, 0, 0.09);
        cursor: pointer;

        &:first-child {
            cursor: unset;

            &:hover {
                background-color: unset;
            }
        }

        &:last-child {
            border-bottom: 0;
        }

        td {
            padding: 15px;
        }

        &:hover {
            background-color: rgba(0, 0, 0, 0.04);
        }
    }

    th {
        background-color: rgba(0, 0, 0, 0.04);
        padding: 10px;
    }
}
