<button
  class="add-user-btn"
  mat-fab
  color="primary"
  matTooltipPosition="above"
  matTooltip="Add new user"
  (click)="openDialog()"
>
  <mat-icon>add</mat-icon>
</button>

<mat-card>
  <mat-card-content>
    <table>
      <tr>
        <th>Name</th>
        <th>E-Mail</th>
        <th>City</th>
      </tr>

      <tr>
        <td>Mazin Fouad</td>
        <td>mf@live.de</td>
        <td>Karlsruhe</td>
      </tr>

      <tr>
        <td>Marian Edwart</td>
        <td>me@live.de</td>
        <td>Karlsruhe</td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>
